*

!api/
api/bin
api/obj
api/out

#!appsettings.Development.json
#!appsettings.json
#!Contexts
#!Controllers
#!c-sherp-project-api.csproj
#!dto
#!Mappings
#!Migrations
#!Models
#!Program.cs
#!Properties
#!Repositories
#
